table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  margin: auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

th {
  background-color: #eeeeee;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: calc(100% / 4);
}
